@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
	color: #ffffff;
	font-family: 'Oswald';
	font-size: 1.25em;
}

.btn {
	color: #ffffff;
	font-size: 1.25em;
	border: 2px solid grey;
	border-radius: 0.25em;
}

.btn:hover {
	color: #ffffff;
	opacity: 0.5;
}

.navbar-brand {
	font-family: 'Monoton';
	font-size: 2em;
}

.blinking-cursor {
	font-family: 'Licorice';
}

.body-container {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
}
